/* This is the css file for Codecademy's Unit 4 Tea Cozy project: index.html.  */

/* Style for whole page for font. */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/* Style navigation links for whole page. */
a:link,
a:visited {
  color: seashell;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/*  *************************************
    ********   Syle the HEADER.  ********
    *************************************
    There are two parts: logo and navigation.
    - Note that the header section must remain fixed in the browser window therefore
      the position is fixed.
    - Note the specific height set for the container.  This is to ensure that
      the container is exactly 69px per the spec (as measured in Google Chrome Teveloper Tools).
*/
.header-container {
  display: flex;
  justify-content: space-between;
  border-style: none none solid none;
  border-width: 0 0 1 0;
  border-color: none none seashell none;
  background-color: black;
  color: seashell;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 68.76px;
  z-index: 100;
}

  .header-logo {
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
  }

  .headerlist li {
    display: inline-block;
  }
  .header-items {
    padding-right: 10px;
  }

  .nav-item-box{
    padding-left: 30px;
  }

  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

/* *********************************************
   ********   Style the MISSION area.   ********
   *********************************************

    There are two parts: the picture and the centered mission text.
    - Note that the image is positioned relative (and top defined) so that it will
      meet the fixed position header correctly.
    - Size of the image, box, font and centering were specified in the spec.
*/
.mission-container {
  display: flex;
  position:relative;
  top: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mission-img {
  display: flex;
  height: 700px;
  weight: 1200px;
  z-index: 50;
}

/* resize image */
.mission-image img {
    width: 100%;
    height: auto;
}
/* Note that the mission statement is centered on top of the mission picture
   within a black box.
    - In order to accomplish this, z-index is used to prioritize the display
      of the box over the image.

*/
.mission-text-container {
  position:relative;
  top: -400px;
  width: 1200px;
  height: 100px;
  /* Place the text box half way up the image:
        Note that height of the image AREA is at 800 plus 70 for header. So:
              870
             -350   for height of text box
             - 50   for half of the height of the text box
             -----
              400 for the relative postion from the top of the header.
  */
  display: flex;
  justify-content: center;
  background-color: black;
  z-index: 60;

}

/* - Note that line-height had to be used to shrink the standard spacing in
  order to appear as the spec looked. */
.mission-text {
line-height: 0.5;
}


/*  ******************************************************
    ********   Style the TEA-OF-THE-MONTH area.   ********
    ******************************************************

    There are two parts to this section:
      - Header text,
      - followed by pictures of each of the teas with associated text below
        each picture.
*/
.tea-otm-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 1000px;
  height: auto;
}

  .tea-otm-picture-container {
    display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .berryblitz-tea-container,  /* This padding provides spaces between each */
  .spiced-rum-tea-container,  /* tea AND allows the ouside teas to touch */
  .myrtle-ave-tea-container{  /* the outside edge.  Space-between and space- */
    padding-right: 50px;      /* around and margin auto didn't yield the */
  }                           /* desired result to match the spec. */

  .tea-image {
    display: flex;
    width: 300px;
    height: 200px;
  }

  .tea-image img {
    width: 100%;
    height: auto;
  }

  .tea-text h4{
    margin: 10 0 20 0;
  }

/*  ***********************************************
    ********   Style the LOCATIONS area.   ********
    ***********************************************

    There are three locations displayed in a row with a background image.
    */

.locals-container {        /* Set up the elements as a column & centered. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  .locals-image {
    display: flex;
  }

  .locals-image img {
    max-width: 1200px;
    /* max-height: 500px; */
    width: 1200px;
    height: auto;
    margin-top: 50px;
  }
  /* Student's notes: I would have loved to use background-image with
  background-repeat:no-repeat;
  background-size: 100% 135%;
  However I couldn't get the location booes placed on top of the photo.
  Additionally, I could never get the photo to show up as it does in the
  redline text.  Will continue to look to see how resize and reportion images.

  So the code below is an exercise in the use of the positin:relative concept
  along with z-index for placing images.
  */

  .locations-header {   /* Position the header text on top of the image. */
    position:relative;
    top: -715px; /* added 245 - was 450*/
    z-index: 60;
    margin: 0;
  }

  .locations-boxes {   /*  Set up the behaviour of the three location boexes, */
    position:relative; /*  and position on top of the image. */
    top: -730px; /* added 245 - was 455 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 60;
  }

  .location-box {   /* Style each of the location boxes. */
    display: flex;
    width: 300px;
    height: auto;
    background-color: black;
    margin: 0px 40px;
    justify-content: center;
    opacity: 1;
  }

  .location-text {
    text-align: center;
  }

  /*  ***********************************************
      ********   Style the FOOTER area.   ********
      ***********************************************

      There are two parts to this section:  the company title, and contact info.
  */
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }

  .footer-box {
    display: flex;
    position:relative; /*  and position on top of the image. */
    top: -560px; /* added 245 - was 455 */
    width: 1200px;
    height: 220px;
    background-color: black;
    opacity: 1;

    flex-direction: row;
    justify-content: center;
    z-index: 70;
  }

  .footer-text {
    text-align: center;
  }

  .footer-text h2 {
    margin-top: 15px;
  }


  /*  ***********************************************
      ********   Style the FOOTER area.   ********
      ***********************************************

      There is only one line however it has to be placed is the specified place.
  */
  .copyrt-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;

  }

  .copyrt-box {
    display: flex;
    position:relative; /*  and position on top of the image. */
    top: -600px; /* added 245 - was 455 */
    width: 1200px;
    height: 40px;
    background-color: black;
    opacity: 1;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    z-index: 80;
  }

  .copyrt-text {
  margin-left: 20px;
  }
